<h1>StaticPages#home</h1>
<<<<<<< HEAD
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>hello</p>
=======
<p>
   This is the home page for the
   <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
   sample application.
</p>
>>>>>>> e43ce2dfa6f330b05a7d89364faa5d854c88f9bc
